#footer {
  height: 100px;
  background-color: white;
  border-top: var(--main-border);
  position: relative;
  transform: translateY(-100%);
  z-index: 5;
}
#footer-section {
  padding: 20px 40px;
}
#customer-service__title {
  font-size: 20px;
  font-weight: bold;
}
#customer-service__tel {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
