/* 기본 태그의 스타일 초기화 */
@import "reset.css";
/* 전역 변수 설정 */
@import "variable.css";

/* 화면 구성 요소 */
@import "component/header.css";
@import "component/nav.css";
@import "component/footer.css";

/* 메인 화면 구성 */
@import "main-screen/signup.css";
@import "main-screen/login.css";

#wrap-header-main-001 {
  height: 100%;
}
#wrap-header-main-002 {
  min-height: 695px;
  padding-top: 170px;
  padding-bottom: 101px;
  background-color: #f7f7f7;
}
main,
main > div {
  min-height: 695px;
}
.screen-width {
  width: var(--main-width);
  margin: 0 auto;
}
