#item-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 1100px;
  padding: 50px;
}
#item-description__image > img {
  width: 350px;
  height: 350px;
}
#item-description__text {
  width: 500px;
  height: 350px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#item-description + button[aria-label="submit"] {
  border: var(--main-border);
  background-color: #f5f5dc;
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  width: 750px;
  height: 70px;
}
#master-option {
  position: relative;
  left: 500px;
  bottom: 60px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
#master-option span:nth-child(4) {
  margin: auto 5px;
  color: var(--main-line-color);
}
